{% extends 'base.html' %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}
{% block script %}
<script>
    document.onload = getExercisesInTraining();

    document.addEventListener("DOMContentLoaded", function() {
      isOwner();
    });

    function isOwner(){
      var isowner = false
      fetch("{{ url_for('checkowner') }}", {
                method: 'post',
                headers: {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + localStorage.getItem("access_token")},
                body: JSON.stringify({ 'training_id' :  "{{training_id}}"})
            }).then(response => {
              response.json().then(data => {
                isowner = data['IsOwner'];
                if(isowner){
                  document.getElementById("modalbutton").style.display = "inline-block";
                }
              })
            });
    }

    function getExercisesInTraining(){
        fetch("{{ url_for('training_get_protected', id=training_id) }}", {
                method: 'get',
                headers: {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + localStorage.getItem("access_token")}
            }).then(response => {
                console.log(response);
                response.json().then(
                    data => {
                        var temp = "";
                        for(var row of data)
                        {
                            const row_id = row['ID(e)'];
                            temp += "<tr>";
                            temp += "<td><a href='/exercise/" + row_id + "'>"  + row['e.exercisename'] + "</a></td>";
                        
                            temp += "<td>" +  '<button onclick="javascript:removeFromTraining(' + row_id + ')">Remove</button>' + "</td></tr>";
                        }
                        document.getElementById('added_exercises').innerHTML = temp;
                    }
                )
            })
    }
      function getUnaddedExercises(){
        fetch("{{ url_for('training_unadded_get_protected', id=training_id) }}", {
                  method: 'get',
                  headers: {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + localStorage.getItem("access_token")}
              }).then(response => {
                  console.log(response);
                  response.json().then(
                      data => {
                          var temp = "";
                          for(var row of data)
                          {
                              const row_id = row['ID(e)'];
                              temp += "<tr>";
                              temp += "<td><input type='checkbox' name='check' id='" + row_id + "'></td>"
                              temp += "<td><a>"  + row['e.exercisename'] + "</a></td>";
                              temp += "</tr>";
                          }
                          document.getElementById('exercises_to_add').innerHTML = temp;
                      }
                  )
              })
    }

    function addSelectedExercises(){
      var checkedBoxes = document.querySelectorAll('input[name=check]:checked');
      for(var checkedBox of checkedBoxes)
      {
        console.log(checkedBox.id);
        try{
          fetch("{{ url_for('training_post') }}", {
                method: 'post',
                headers: {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + localStorage.getItem("access_token")},
                body: JSON.stringify({ 'training_id' :  "{{training_id}}", 'exercise_id': checkedBox.id})
            }).then(response => {
                getExercisesInTraining();
            });
        }
        catch(error)
        {
          console.log(error);
        }
      }
    }

    function removeFromTraining(id){
      fetch("{{ url_for('training_exercise_put') }}", {
                method: 'put',
                headers: {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + localStorage.getItem("access_token")},
                body: JSON.stringify({ 'training_id' :  "{{training_id}}", 'exercise_id': id})
            }).then(response => {
                getExercisesInTraining();
            });
    }
</script>
{% endblock %}

{% block content %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modalbutton" style="display: none;" onclick="javascript:getUnaddedExercises()">
    Add Exercises
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Exercise name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Exercise Name</th>
                  </tr>
                </thead>
                <tbody id="exercises_to_add">
            
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:addSelectedExercises()">Add</button>
        </div>
      </div>
    </div>
  </div>

  <table style="margin-top: 10px;" class="table">
    <thead>
      <tr>
        <th>Exercise Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="added_exercises">

    </tbody>
  </table>
{% endblock %}